<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 매퍼XML -->
<!-- 원래 인터페이스에 있던 쿼리문을 분리해서 여기로 이동 -->
<!-- 내가 참조하는 인터페이스 경로와 이름 설정 -->
<mapper namespace="com.javalab.board.mapper.LoginMapperInterface">

<!-- login -->
<select id="login" parameterType="MemberVo" resultType="MemberVo">
	select member_id, password, name, email
	from member
	where member_id = #{memberId}
	and password = #{password}
</select>

</mapper>
