<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javalab.board.mapper.ResumeMapperInterface">
    <select id="selectAllResumes" resultType="com.javalab.board.vo.ResumeVo">
        SELECT * FROM RESUME
    </select>

    <insert id="insertResume">
        INSERT INTO RESUME (RESUME_ID, JOBSEEKER_ID, TITLE, CONTENT, EDUCATION, EXPERIENCE, LINK, HIT_NO, FILE_NAME, FILE_PATH)
        VALUES (#{resumeId}, #{jobSeekerId}, #{title}, #{content}, #{education}, #{experience}, #{link}, #{hitNo}, #{fileName}, #{filePath})
    </insert>

    <select id="selectResumeById" resultType="com.javalab.board.vo.ResumeVo">
        SELECT * FROM RESUME WHERE RESUME_ID = #{resumeId}
    </select>

    <update id="updateResume">
        UPDATE RESUME
        SET JOBSEEKER_ID = #{jobSeekerId}, TITLE = #{title}, CONTENT = #{content}, EDUCATION = #{education},
            EXPERIENCE = #{experience}, LINK = #{link}, HIT_NO = #{hitNo}, FILE_NAME = #{fileName}, FILE_PATH = #{filePath}
        WHERE RESUME_ID = #{resumeId}
    </update>

    <delete id="deleteResume">
        DELETE FROM RESUME WHERE RESUME_ID = #{resumeId}
    </delete>
</mapper>
